.updates-header-section {
  background-image: url("../../../assets/img/Updates/background-header-updates.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  text-align: left;
  padding: 160px 64px;

  .title {
    display: flex;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
  }

  .subtitle {
    font-size: 24px;
    margin: 10px 0;
  }
}

.one-ecosystem-multi-module-section {
  background-image: url("../../../assets/img/Updates/background-one-ecosystem-multi-module.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 96px 64px;
  width: 100%;

  .one-ecosystem-multi-module-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #1c406c;

    .no-highlighted {
      color: #1c406c;
    }

    .highlighted {
      color: #007bff;
      margin: 0 10px;
    }

    .line {
      border-radius: 8px;
      width: 50px;
      height: 4px;
      background-color: #8cc6fb;
      margin: 0 10px;
    }
  }

  .card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    align-items: center;

    .custom-card {
      border-radius: 8px;
      transition: transform 0.3s;
      width: 100%;
      border: 0;

      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 280px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      .card-body {
        background-color: #0072dc;
        border-radius: 0 0 8px 8px;
        padding: 10px;
      }

      .card-title {
        text-align: center;
        position: relative;
        font-size: 16px;
        font-weight: bold;
        color: #fff;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 108%;
          height: 4px;
          background-color: #64b5ff;
        }
      }
    }
  }

  .why-we-exist-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;

    .wwe-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      padding: 20px;
      background-color: white; /* Sets the padding area color to white */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
      background-position: center;
    }

    .wwe-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .wwe-headline {
        display: flex;
        flex-direction: row;

        .text-headline {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 12px;
          color: #1c406c;
        }

        .line {
          border-radius: 8px;
          width: 40px;
          height: 2px;
          background-color: #0085ff;
          margin: 12px 10px;
        }
      }

      .wwe-title {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #1c406c;

        .no-highlighted {
          color: #1c406c;
        }

        .highlighted {
          color: #007bff;
        }
      }

      .wwe-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        flex-direction: row;
        align-content: center;
        width: 100%;
        justify-content: center;
        position: relative;

        .blue-card {
          background-color: #59abf6;
          border-radius: 8px;
          position: absolute;
          top: 5px;
          right: 5px;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        .white-card {
          background-color: white;
          border-radius: 8px;
          position: relative;
          padding: 40px 30px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          z-index: 2;
          display: flex;
          flex-direction: row;
          gap: 20px;
          height: 100%;
          width: 100%;

          .wwe-card-content {
            display: flex;
            flex-direction: column;
            text-align: left;

            .wwe-card-description {
              font-size: 16px;
              line-height: 1.6;
              color: #1c406c;
            }

            .wwe-card-description span:not(:last-child) {
              display: block;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.supply-chain-exist-section {
  background-color: #e7f3f9;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 96px 64px;
  width: 100%;

  .supply-chain-exist-title {
    font-size: 48px;
    font-weight: bold;
    color: #1c406c;
    margin-bottom: 80px;

    .no-highlighted {
      color: #1c406c;
    }

    .highlighted {
      color: #007bff;
    }

    .line {
      border-radius: 8px;
      width: 50px;
      height: 4px;
      background-color: #8cc6fb;
      margin: 0 10px;
    }
  }

  .card-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: space-between;

    .custom-card {
      background-color: #1c406c;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      width: 100%;
      border: 0;

      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 250px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      .card-body {
        border-radius: 0 0 8px 8px;
        padding: 10px;

        .card-title {
          text-align: center;
          position: relative;
          font-size: 16px;
          font-weight: bold;
          color: #fff;

          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 108%;
            height: 2px;
            background-color: #0085ff;
          }
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .updates-header-section {
    padding: 100px 60px;

    .title {
      font-size: 48px;
    }

    .subtitle {
      font-size: 20px;
    }
  }

  .one-ecosystem-multi-module-section {
    padding: 60px 60px;
    width: 100%;

    .one-ecosystem-multi-module-title {
      font-size: 36px;
      margin-bottom: 40px;

      .line {
        width: 50px;
        height: 4px;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;
      align-items: center;

      .custom-card {
        width: 100%;
        border: 0;

        &:hover {
          transform: scale(1.05);
        }

        .card-title {
          &::before {
            top: -10px;
            width: 103%;
            height: 5px;
          }
        }
      }
    }

    .why-we-exist-container {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .wwe-image {
        width: 100%;
        height: auto;
        padding: 20px;
      }

      .wwe-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .wwe-headline {
          display: flex;
          flex-direction: row;
          margin: 0;

          .line {
            width: 32px;
          }

          .text-headline {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 12px;
            color: #1c406c;
          }
        }

        .wwe-title {
          font-size: 32px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .supply-chain-exist-section {
    padding: 60px 60px;
    width: 100%;

    .supply-chain-exist-title {
      font-size: 36px;
      margin-bottom: 40px;

      .line {
        width: 50px;
        height: 4px;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;
      align-items: center;

      .custom-card {
        border-radius: 8px;
        transition: transform 0.3s;
        width: 100%;
        border: 0;

        .card-body {
          .card-title {
            &::before {
              top: -10px;
              width: 103%;
              height: 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .updates-header-section {
    padding: 80px 40px;
    text-align: center;
    align-items: center;

    .title {
      font-size: 28px;
    }

    .subtitle {
      font-size: 18px;
    }
  }

  .one-ecosystem-multi-module-section {
    padding: 40px 40px;
    width: 100%;

    .one-ecosystem-multi-module-title {
      font-size: 24px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      .line {
        width: 20px;
        height: 4px;
        margin: 10px 0;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 20px;

      .custom-card {
        width: 100%;
        border: 0;

        &:hover {
          transform: scale(1.05);
        }

        .card-title {
          &::before {
            top: -10px;
            width: 108%;
            height: 5px;
          }
        }
      }
    }

    .why-we-exist-container {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .wwe-image {
        width: 100%;
        height: auto;
        padding: 20px;
      }

      .wwe-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .wwe-headline {
          display: flex;
          flex-direction: row;
          margin: 0;

          .line {
            width: 24px;
          }

          .text-headline {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
            color: #1c406c;
          }
        }

        .wwe-title {
          font-size: 24px;
          margin-bottom: 20px;
        }

        .wwe-card-wrapper {
          gap: 40px;
          width: 100%;

          .blue-card {
            width: 100%;
            height: 100%;
          }

          .white-card {
            gap: 20px;
            height: 100%;
            width: 100%;

            .wwe-card-content {
              display: flex;
              flex-direction: column;
              text-align: left;

              .wwe-card-title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 20px;
              }

              .wwe-card-description {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .supply-chain-exist-section {
    padding: 40px 40px;
    width: 100%;

    .supply-chain-exist-title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
      align-items: center;

      .custom-card {
        width: 100%;
        border: 0;

        &:hover {
          transform: scale(1.05);
        }

        .card-body {
          .card-title {
            &::before {
              top: -10px;
              width: 108%;
              height: 2px;
            }
          }
        }
      }
    }
  }
}
